<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="./home">Components</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="angmet" routerLinkActive="active">Angular Meterial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./crud" routerLinkActive="active">Crud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./bsub" routerLinkActive="active">behaviour subject</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./books" routerLinkActive="active">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./unsaved" routerLinkActive="active">Deactive Guard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./share" routerLinkActive="active">SharedComp</a>
          </li>
      </ul>
    </div>
  </nav>